body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: black solid;
    background-color: aqua;
}

.entrada {
    padding: 10px;
}

.reserva {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin-top: 100px;
    background-color: cadetblue;
    border: 5px solid orange;
}

.cabeceraHotel {
    margin-left: 20px;
}

.selec {
    margin: 20px 20px 10px 20px;
}

.selecInt {
    margin-left: 20px 20px 20px 20px;
}

.numNo {
    margin: 20px 20px 10px 20px;
}

.result {
    margin-left: 20px;
}

